
<div class="details-card">
  <div class="for-button">
    <button (click)="clickBack()" mat-button>
      <mat-icon fontIcon="undo" class="undo"></mat-icon>
    </button>
    <img
      src="{{ item.snippet.thumbnails.high.url }}"
      alt="caption"
      class="caption"
    />
  </div>

  <div class="information">
    <h2>{{item.snippet.title}}</h2>
    <h3>Description:</h3>
    <p>{{ item.snippet.description }}</p>
    <div class="counts">
      <app-views-count [item]="item"></app-views-count>
      <app-likes-count [item]="item"></app-likes-count>
      <app-dislikes-count [item]="item"></app-dislikes-count>
      <app-coments-count [item]="item"></app-coments-count>
    </div>
  </div>
</div>
